<p id="notice"><%= notice %></p>

<h1>Info Self Cares</h1>

<table class="blueTable">
  <thead>
    <tr>
      <th>Care-name</th>
      
      <th>Time</th>
      <th>Date-frome</th>
      <th>Date-to</th>
      <th>Location</th>
      <th>Period</th>
      <th>Reminder-time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @info_self_cares.each do |info_self_care| %>
      <tr>
        <td><%= info_self_care.care_name %></td>
        <td><%= info_self_care.time %></td>
        <td><%= info_self_care.date_frome %></td>
        <td><%= info_self_care.date_to %></td>
        <td><%= info_self_care.location %></td>
        <td><%= info_self_care.period %></td>
        <td><%= info_self_care.reminder_time %></td>
        <td><%= link_to 'Show', info_self_care %></td>
        <td><%= link_to 'Edit', edit_info_self_care_path(info_self_care) %></td>
        <td><%= link_to 'Destroy', info_self_care, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info Self Care', new_info_self_care_path %>

<%= link_to 'Back', root_path %>