<!DOCTYPE html>
<html>
  <head>
    <title>SelfCare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"></p>
    <p class="alert"></p>
      
    <header >
      <ul>
      
      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        </li>
        <li>
          <%= link_to('Edit registration', edit_user_registration_path) %>
        </li>

      <% else %>
          <% if !(controller_name == "sessions" && action_name == "new") %>
            <li>
              <%= link_to('Login', new_user_session_path) %>  
            </li>

          <% end %>

          <% if !(controller_name == "registrations" && action_name == "new") %>
            <li>
              <%= link_to('Sign Up', new_user_registration_path) %>
            </li>
        <% end %>
      <% end %>
      <li>
        <%= link_to('About', about_path) %>
      </li>
      <li>
        <%= link_to('Contact', contact_us_path) %>
      </li>
      <li>
        <%= link_to('Home', home_page_path) %>
      </li>
    </ul>
    </header >
    
    <%= yield %>

    <div>
    <ul class="boxs">
        <li class="box">
            <h3 ><%= link_to('Self Care', slfeCareInfo_path) %></h3>
            <p> Self Care is application  to schedule you self and you can use it as a noit</p>
        </li>
        <li class="box">
            <h3 ><%= link_to('About', about_path) %></h3>
            <p> Self Care is application  to schedule you self and you can use it as a noit</p>
        </li>
        <li class="box">
            <h3 ><%= link_to('Contact', contact_us_path) %></h3>
            <p>Email:Somayah@Bahkeem.com </p>
            <p>Phone:05053712345 </p>
        </li>
  
    </ul>
</div>


    <footer class="footer" >
    <p><small>&copy; 2019 Self Care   <br> Made with by Somayah Bahkeem</p>
    </footer >

  </body>
</html>
